
.feature-list {
    padding-top: 60px;
    padding-bottom: 60px;
   
   
    @media screen and (min-width:1200px) {
       padding-top: 94px;
       padding-bottom: 94px;
    }
}

.feature-list .title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .paragraph {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-list .ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.feature-list li {
    padding: 0;
    @media screen and (min-width:480px) {
      width: 450px;
    }

    @media screen and (min-width:768px) {
    width: 345px;
    }

    @media screen and (min-width:1200px) {
        width: 270px;
    }
}

.feature-list .title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.middle-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 120px;
    fill: var(--main-color);
    background: var(--second-white);
    margin-bottom: 30px;



    @media screen and (min-width:480px) {
     width: 450px;
    }
    
    @media screen and (min-width:768px) {
    width: 345px;
     }
    
    @media screen and (min-width:1200px) {
    width: 270px;
     }
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
            text-align: left;
        }
}

 .paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}