.section-hero {
    background: var(--hero-color);
    padding-top: 118px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../../images/hero-mobile.jpg");


 @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
       
                background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ), 
     url("../../images/hero-mobile2x.jpg");
    }



@media screen and (min-width:768px){
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
             url("../../images/hero-tablet.jpg");

@media screen and (min-deviсe-pixel-ratio: 2),
                  (min-resolution: 192dpi),
                  (min-resolution: 2dppx){

            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../../images/hero-tablet2x.jpg");
    
        }
}


@media screen and (min-width:1200px){
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
             url("../../images/hero-desctop.jpg");

@media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){

    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../../images/hero-desctop2x.jpg");
    }
}

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    
   @media screen and (min-width: 1200px) {
       max-width: 1600px;
       height: 600px;
       padding-top: 200px;
       padding-bottom: 200px;
   }
    

}

.section-hero__heading {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61538;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--background-white);
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 360px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36364;
        max-width: 696px;
    }


}

.section-hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--background-white);

    display: block;
    background-color: var(--blue);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    border: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 480px) {
        padding: 10px 32px;
        font-size: 16px;
        min-width: 200px;
    }
}